<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	backupGlobals="true"
	backupStaticAttributes="false"
	checkForUnintentionallyCoveredCode="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="true">
	
	<testsuites>
		<testsuite name="default">
			<file>tests/TheFox/Test/AnswerBlockElementTest.php</file>
			<file>tests/TheFox/Test/AnswerPostTest.php</file>
			
			<file>tests/TheFox/Test/BoolBlockElementTest.php</file>
			
			<file>tests/TheFox/Test/ChatBlockElementTest.php</file>
			<file>tests/TheFox/Test/ChatPostTest.php</file>
			
			<file>tests/TheFox/Test/ElementTest.php</file>
			
			<file>tests/TheFox/Test/HtmlElementTest.php</file>
			
			<file>tests/TheFox/Test/IfBlockElementTest.php</file>
			<file>tests/TheFox/Test/IfNotBlockElementTest.php</file>
			
			<file>tests/TheFox/Test/LineBlockElementTest.php</file>
			<file>tests/TheFox/Test/LinesBlockElementTest.php</file>
			
			<file>tests/TheFox/Test/LinkBlockElementTest.php</file>
			<file>tests/TheFox/Test/LinkPostTest.php</file>
			
			<file>tests/TheFox/Test/PagesBlockElementTest.php</file>
			
			<file>tests/TheFox/Test/ParserTest.php</file>
			
			<file>tests/TheFox/Test/PhotoBlockElementTest.php</file>
			<file>tests/TheFox/Test/PhotoPostTest.php</file>
			
			<file>tests/TheFox/Test/PhotosetBlockElementTest.php</file>
			<file>tests/TheFox/Test/PhotosBlockElementTest.php</file>
			<file>tests/TheFox/Test/PhotosetPostTest.php</file>
			
			<file>tests/TheFox/Test/PostBlockElementTest.php</file>
			<file>tests/TheFox/Test/PostsBlockElementTest.php</file>
			
			<file>tests/TheFox/Test/PostTest.php</file>
			
			<file>tests/TheFox/Test/QuoteBlockElementTest.php</file>
			
			<file>tests/TheFox/Test/TagsBlockElementTest.php</file>
			
			<file>tests/TheFox/Test/TextBlockElementTest.php</file>
			<file>tests/TheFox/Test/TextPostTest.php</file>
			
			<file>tests/TheFox/Test/VariableElementTest.php</file>
			<file>tests/TheFox/Test/VariableTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>