<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="bootstrap.php"
	checkForUnintentionallyCoveredCode="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	strict="true"
	verbose="true">
	
	<testsuites>
		<testsuite name="My Test Suite">
			<file>tests/AnswerBlockElementTest.php</file>
			<file>tests/AnswerPostTest.php</file>
			
			<file>tests/BoolBlockElementTest.php</file>
			
			<file>tests/ChatBlockElementTest.php</file>
			<file>tests/ChatPostTest.php</file>
			
			<file>tests/ElementTest.php</file>
			
			<file>tests/HtmlElementTest.php</file>
			
			<file>tests/IfBlockElementTest.php</file>
			<file>tests/IfNotBlockElementTest.php</file>
			
			<file>tests/LineBlockElementTest.php</file>
			<file>tests/LinesBlockElementTest.php</file>
			
			<file>tests/LinkBlockElementTest.php</file>
			<file>tests/LinkPostTest.php</file>
			
			<file>tests/PagesBlockElementTest.php</file>
			
			<file>tests/ParserTest.php</file>
			
			<file>tests/PhotoBlockElementTest.php</file>
			<file>tests/PhotoPostTest.php</file>
			
			<file>tests/PhotosetBlockElementTest.php</file>
			<file>tests/PhotosBlockElementTest.php</file>
			<file>tests/PhotosetPostTest.php</file>
			
			<file>tests/PostBlockElementTest.php</file>
			<file>tests/PostsBlockElementTest.php</file>
			
			<file>tests/PostTest.php</file>
			
			<file>tests/QuoteBlockElementTest.php</file>
			
			<file>tests/TagsBlockElementTest.php</file>
			
			<file>tests/TextBlockElementTest.php</file>
			<file>tests/TextPostTest.php</file>
			
			<file>tests/VariableElementTest.php</file>
			<file>tests/VariableTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>